.main-container {
    display: flex;
    flex-flow: column;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.card {
    width: 400px;
  }


.elevator {
    padding-right: 200px;    
}

.square {
    position: relative;
    width: 70px;
    height: 35px;
    border: 1px solid red;

    .elevator-in-floor {
        background: aqua;
        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;
        height: 100%;
    }
}

.info {
    mat-list {
        width: 200px;
    }
}

button {
    width: 100%;
}