<div class="container">
  <div>
    <mat-card class="card">
      <mat-card-content>
        <div class="main-container">

          <mat-form-field>
            <input type="number" min="0" matInput placeholder="Total andares no prédio" [(ngModel)]="totalFloors">
          </mat-form-field>

          <mat-form-field>
            <input type="number" min="0" matInput placeholder="Posição inicial do elevador"
              [(ngModel)]="elevator.currentFloor">
          </mat-form-field>

          <mat-form-field>
            <input type="number" min="0" matInput placeholder="Quantidade de pessoas esperando elevador"
              [(ngModel)]="numberOfPassengers">
          </mat-form-field>

          <button mat-flat-button color="primary" (click)="sendParameters()">Enviar</button>

          <br>

          <mat-card *ngIf="passengers.length > 0">
            <mat-card-content>
              <div class="main-container" *ngFor="let passenger of passengers">
                <h3>Passageiro {{passenger.index}}</h3>
                <mat-form-field>
                  <input type="number" min="0" matInput placeholder="Andar atual" [(ngModel)]="passenger.currentFloor">
                </mat-form-field>

                <mat-form-field>
                  <input type="number" min="0" matInput placeholder="Andar destino" [(ngModel)]="passenger.targetFloor">
                </mat-form-field>
              </div>
            </mat-card-content>

            <button mat-flat-button color="primary" (click)="callElevator()">Chamar elevador</button>
          </mat-card>

        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="info" *ngIf="totalFloors && totalFloorsList.length > 0">
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>Andares pecorridos: <span *ngIf="elevator.elapsedFloor > 0">{{elevator.elapsedFloor}}</span></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Andar atual: {{elevator.currentFloor}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>

  <div class="elevator" *ngIf="totalFloors">
    <div class="square" *ngFor="let item of totalFloorsList; let i = index">
      <div [ngClass]="{'elevator-in-floor': elevator.currentFloor == i}">
        {{item.floor}}
      </div>
    </div>
  </div>
</div>