<mat-card class="card">
  <mat-card-content>
    <div class="main-container">

      <mat-form-field>
        <input type="number" min="0" matInput placeholder="Total andares no prédio"
          [(ngModel)]="totalFloors">
      </mat-form-field>

      <mat-form-field>
        <input type="number" min="0" matInput placeholder="Posição inicial do elevador"
          [(ngModel)]="elevator.currentFloor">
      </mat-form-field>

      <mat-form-field>
        <input type="number" min="0" matInput placeholder="Quantidade de pessoas esperando elevador"
          [(ngModel)]="numberOfPassengers">
      </mat-form-field>

      <button mat-flat-button color="primary" (click)="sendParameters()">Enviar</button>

      <br>

      <mat-card class="card" *ngIf="passengers.length > 0">
        <mat-card-content>
          <div class="main-container" *ngFor="let passenger of passengers">

            <!-- <div id="floorSelect">
              <h3>Passageiro {{passenger.index}}</h3>

              <div>
                <h4>Andar atual</h4>
                <ul>
                  <span>GL</span>
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                  <span>4</span>
                </ul>
              </div>
              <div>
                <h4>Andar destino</h4>
                <ul>
                  <span>GL</span>
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                  <span>4</span>
                </ul>
              </div>
            </div> -->
            <h3>Passageiro {{passenger.index}}</h3>
            <mat-form-field>
              <input type="number" min="0" matInput placeholder="Andar atual" [(ngModel)]="passenger.currentFloor">
            </mat-form-field>

            <mat-form-field>
              <input type="number" min="0" matInput placeholder="Andar destino" [(ngModel)]="passenger.targetFloor">
            </mat-form-field>
          </div>
        </mat-card-content>

        <button mat-flat-button color="primary" (click)="callElevator()">Chamar elevador</button>
      </mat-card>

    </div>
  </mat-card-content>
</mat-card>